<form  action="/api/sessions/restaurar" method="post"  id="Form RestaurarPassword">

  Email:
  <input type="email" name="email" id="email" />

  New Password:
  <input type="password" name="newPassword" id="newPassword" />

  <input type="submit" value="restaurarPassword" />

</form>